@model Product

@{
    ViewData["Title"] = "Product Details and Moves  " + Model.Name;
}

<div class="container">
    <div class="row">
        <div class="col-10 border border-light rounded p-5">
            <h5 class="text-primary"><strong>Product Details and Moves  @Model.Name</strong></h5>
            <hr/>
            <h6>Name - @Model.Name</h6>
            <h6>Quantity - @Model.Quantity</h6>
            <h6>Price - @Model.Price</h6>
            <h6>Category - @Model.Category.Name</h6>
            <hr/>

            <div class="container border border-light rounded shadow p-5">
                <div class="row">
                    <div class="col-8">
                        <h6>Moves</h6>
                    </div>

                    <div class="col-4">
                        <a asp-action="NewMove" asp-controller="Moves" asp-route-Id="@Model.Id" class="btn btn-sm btn-outline-success">
                            New Move
                        </a>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>